/* normalizar la pagina */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remover estilos de lista */
ul, ol {
  list-style: none;
}

/* Remover el subrayado y color */
a {
  text-decoration: none;
  color: inherit;
}

:root {
  --background: #F5F5F7;   /* Fondo claro, estilo Apple */
  --text-color: #1D1D1F;   /* Texto oscuro, fácil de leer */
  --primary-color: #0071E3; /* Azul Apple, usado en botones */
  --secondary-color: #A2AAAD; /* Gris elegante */
}

body {
  background-color: #fff;
  font-family: "Inter";
}

header {
  border-bottom: 1px solid var(--secondary-color);
  background-color: var(--background);
  padding: 0 30px 0;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  min-width: 770px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.header-container h1 {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.header-container nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-container nav ul {
  display: flex;
  gap: 20px;
  padding: 15px 20px 15px;
  flex-wrap: wrap;
}

.nav-item {
  color: var(--text-color);
  font-size: 12px;
}

.nav-item:hover {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.235);
}

.btn {
  border: none;
  border-radius: 16px;
  padding: 4px 8px;
}

.btn:hover {
  background-color: #0b75e0;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.container {
  width: 100%;
  max-width: 800px;
}

.primary {
  background-color: #0071E3;
  color: #f5f5f5;
}

.hero img {
  margin: 90px auto;
  width: 100%;
}

span {
  color: var(--text-color);
}

.head-large {
  font-size: 76px;
  font-weight: 600;
}

.head-style {
  margin: 20px auto 40px;
}

.text-large {
  font-size: 28px;
  font-weight: 700;
}

.text-primary {
  color: rgb(155, 155, 155);
}


.card-specs {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--secondary-color);
  padding: 40px;
}

.name-specs {
  font-size: 24px;
  font-weight: 600;
}

.size-selector {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}

.size-option {
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding: 20px 28px;
}

.laptop-display {
  display: flex;
  justify-content: center;
  padding: 24px;
}